<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">


<div class="container">

  <div class="card bg-light">
<article class="card-body mx-auto" style="max-width: 400px;">
	<h4 class="card-title mt-3 text-center">Sign</h4>
	<p class="text-center" >Meeting Planner</p>
	
	<form>
    <div class="form-group input-group">
    	<div class="input-group-prepend">
		    <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
		 </div>
     <input type="email" name="email" class="form-control" [(ngModel)]="email" placeholder="email">

    </div>
    
     <div class="form-group input-group">
    	<div class="input-group-prepend">
		    <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
		</div>
    <input type="password" name="password" class="form-control" [(ngModel)]="password" placeholder="password">
    </div> <!-- form-group// -->
                                         
    <div class="form-group">
        <button type="submit" class="btn btn-primary btn-block" (click)="loginFunction()"> log In </button>
    </div> <!-- form-group// -->      

    <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block" (click)="goToSignUp()">SignUp  </button>
        </div> <!-- form-group// -->  
    <p class="text-center">Dont have account? <a href="">Sign Up</a> </p>    
    
    <p class="text-center"><a href="">Forgot Password ? </a></p>                                                               
</form>
</article>
</div> <!-- card.// -->

</div> 
<!--container end.//-->

<br><br>
<article class="bg-secondary mb-3">  
<div class="card-body text-center">
    <h3 class="text-white mt-3">Plan Your meeting</h3>

<p><a class="" target="_blank"> 
</a></p>
</div>
<br><br>
</article>

